.vs/WorldDisplay/copilot-chat/157d7793/sessions/36fce19b-eacd-4fe5-8518-98f82d6f607d
.vs/WorldDisplay/copilot-chat/157d7793/sessions/98307af8-ab7c-41fd-a5c1-61b992d4860e
.vs/WorldDisplay/FileContentIndex/183691b8-070d-4c68-a758-18b3e123a1dc.vsidx
.vs/WorldDisplay/FileContentIndex/7c370d5e-f794-42c2-bb9f-96849ac97494.vsidx
*.vsidx
.vs/WorldDisplay/v17/.suo
.vs/WorldDisplay/v17/Browse.VC.db
.vs/WorldDisplay/v17/Browse.VC.db-shm
.vs/WorldDisplay/v17/Browse.VC.db-wal
.vs/WorldDisplay/v17/Browse.VC.opendb
.vs/WorldDisplay/v17/DocumentLayout.json
.vs/WorldDisplay/v17/ipch/AutoPCH/13cb5b732db001d5/TMPE8FD.TMP.ipch
.vs/WorldDisplay/v17/ipch/AutoPCH/40f04f862cb50b42/STARS.ipch
.vs/WorldDisplay/v17/ipch/AutoPCH/436cbd7092cb86bd/UI.ipch
.vs/WorldDisplay/v17/ipch/AutoPCH/4f1ca0e0f767627/VCTMP144964_161373.UI.00000000.ipch
.vs/WorldDisplay/v17/ipch/AutoPCH/5948df28af63529d/CELESTIALBODIES.ipch
.vs/WorldDisplay/v17/ipch/AutoPCH/9e99c60d55afc543/TMP44B5.TMP.ipch
.vs/WorldDisplay/v17/ipch/AutoPCH/a3a36e0506a1b5cb/TMP291C.TMP.ipch
.vs/WorldDisplay/v17/ipch/AutoPCH/c44e310ebe59f403/TMP50D4.TMP.ipch
.vs/WorldDisplay/v17/ipch/AutoPCH/d0afd0a4cea4517e/MAIN.ipch
.vs/WorldDisplay/v17/ipch/AutoPCH/e3ffd189ad45b867/TMP2E8D.TMP.ipch
WorldDisplay/x64/Debug/CelestialBodies.obj
WorldDisplay/x64/Debug/DeadPlanets.obj
WorldDisplay/x64/Debug/CelestialBodies.obj
WorldDisplay/x64/Debug/CelestialBodies.obj
WorldDisplay/x64/Debug/DeadPlanets.obj
WorldDisplay/x64/Debug/GoldilocksPlanet.obj
WorldDisplay/x64/Debug/main.obj
WorldDisplay/x64/Debug/resource.obj
*.obj
